.container{
	width: 90%;
	margin: auto;

}

.top{
	/*align-items: center;*/
	/*margin: 0 auto;*/
	text-align: center;	
	margin-top: 40px;
	margin-bottom: 20px;
}

img {  
height: 350px;
}  

h1{
	font-size: 6em;
	text-align: center;
	margin: 0px 0px 40px 0px;
}

.sofa-is{
	text-align: center;
	border: #939696;
	border-style: double;
	border-left-style: none;
	border-right-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

h2{
	margin: 0%;
}

.articles{
	text-align: center;	
	margin: 0;	
} 

ul{
	text-align: left;
}

ul li{
	display: inline-block;
	padding: 20px 20px;
	width: 280px;	
}



h3{
	font-size: 30px;
	margin: 0px;
}

footer p{
	text-align: center;
	margin-top: 40px;
	font-weight: bold;

}

.fa-certificate{
	color: red;
	font-size: 1.2em;
}

span{
	font-weight: lighter;
	color: #939696;
}

*{
	font-family: 'Merriweather', serif;
}

